$primary: #2B388F;

.td-sidebar-nav {
  font-size: 90% !important;
}

.td-max-width-on-larger-screens, .td-content > pre, .td-content > .highlight, .td-content > .lead, .td-content > h1, .td-content > h2, .td-content > ul, .td-content > ol, .td-content > p, .td-content > blockquote, .td-content > dl dd, .td-content .footnotes, .td-content > .alert {
  max-width: 95% !important;
}
